<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thomas.webkiosk">

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <style name="AppTheme.NoActionBar" parent="Theme.AppCompat.Light.DarkActionBar">
                    <item name="windowActionBar">false</item>
                    <item name="windowNoTitle">true</item>
                    <item name="android:windowFullscreen">true</item>
                </style>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <service
            android:name=".BootService"
            android:label="Boot service">
            <intent-filter>
                <action android:name="com.example.thomas.webkiosk.BootService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".BootReceiver"
            android:label="BootService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".VideoActivity"></activity>
    </application>

</manifest>